<div class="container-fluid">
  <div class="row" style="height: 10vh !important">
    <div class="col-12 bar d-flex align-items-center">
      <div>
        <img src="assets/common/LH-PNG1.jpg" alt="" />
      </div>
      <div class="ms-3 title">
        Lights & Hearts <br />
        Your Family Photographer
      </div>
      <div class="m-auto"></div>
      <div class="d-flex items align-items-center">
        <div [routerLink]="['/']" routerLinkActive="router-link-active">
          Home
        </div>
        <div [routerLink]="['/photography']">Films</div>
        <div class="dropdown">
          Photography
          <ul class="dropdown-menu">
            <li>
              <button
                [routerLink]="['/photography']"
                class="dropdown-item"
                type="button"
              >
                Wedding
              </button>
            </li>
            <li>
              <button
                [routerLink]="['/photography']"
                class="dropdown-item"
                type="button"
              >
                Pre Wedding
              </button>
            </li>
            <li>
              <button
                [routerLink]="['/photography']"
                class="dropdown-item"
                type="button"
              >
                Post Wedding
              </button>
            </li>
            <li>
              <button
                [routerLink]="['/photography']"
                class="dropdown-item"
                type="button"
              >
                Maternity
              </button>
            </li>
            <li>
              <button
                [routerLink]="['/photography']"
                class="dropdown-item"
                type="button"
              >
                Fashion
              </button>
            </li>
          </ul>
        </div>
        <div [routerLink]="['/aboutus']">About Us</div>
        <div class="btn-bk" style="color: white; background-color: black">
          Book Now
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="items d-flex">
  <div class="">Home</div>
  <div class="">Films</div>
  <div class="">
    <div class="dropdown">
      Photography
      <ul class="dropdown-menu">
        <li>
          <button class="dropdown-item" type="button">Wedding</button>
        </li>
        <li>
          <button class="dropdown-item" type="button">Pre Wedding</button>
        </li>
        <li>
          <button class="dropdown-item" type="button">
            Post Wedding
          </button>
        </li>
        <li>
          <button class="dropdown-item" type="button">Maternity</button>
        </li>
        <li>
          <button class="dropdown-item" type="button">Fashion</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="">About us</div>
</div> -->
