<div class="container-fluid">
  <div class="row">
    <div
      class="col-12 text-center bar"
      style="font-weight: 500; font-family: snellroundhandw01-scrip, cursive"
    >
      <div class="row items" style="align-items: center">
        <div class="offset-1 col-1">Home</div>
        <div class="col-1">Films</div>
        <div class="col-1">
          <div class="dropdown">
            Photography
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" type="button">Wedding</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Pre Wedding</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  Post Wedding
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Maternity</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Fashion</button>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-4 d-flex align-items-center justify-content-center"
          style="font-size: xx-large"
        >
          <div class="me-5">
            <img src="assets/common/LH-PNG1.jpg" alt="" />
          </div>
          <div>
            <span
              style="
                font-size: small;
                font-family: snellroundhandw01-scrip, cursive;
              "
              >Your Family Photographers</span
            >
            <br />
            <span style="font-family: snellroundhandw01-scrip, cursive">
              LIGHTS &amp; HEARTS
            </span>
          </div>
        </div>
        <div class="col-1">About us</div>
        <div class="col-1">Book now</div>
      </div>
    </div>
  </div>
</div>
