.bar {
  background-color: white;
  font-weight: 500;
}
.items {
  cursor: pointer;
  div {
    padding: 1rem;
    &:hover {
      color: rgb(195, 0, 0);
    }
  }

  .btn-bk {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

.btn {
  padding: 1rem;
}

.dropdown {
  &:hover {
    .dropdown-menu {
      display: block;
      opacity: 1;
      transform: translateY(0rem);
    }
  }
  .dropdown-menu {
    display: block;
    transition: all 0.3s;
    transform: translateY(1rem);
    opacity: 0;
    .dropdown-item {
      &:hover {
        color: rgb(195, 0, 0);
      }
      &:focus {
        background-color: rgb(195, 0, 0);
        color: white;
      }
    }
  }
}

.title {
  font-weight: 500;
  font-size: 20px;
}
