<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/home/carousel1.jpg"
        class="d-block w-100"
        style="height: 90vh"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/home/carousel1.jpg"
        class="d-block w-100"
        style="height: 90vh"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/home/carousel1.jpg"
        class="d-block w-100"
        style="height: 90vh"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleRide"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleRide"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-fluid">
  <div class="row mt-2 pt-4 pb-5">
    <div class="col-12 text-center">
      <h3 class="w-100">Professional Wedding Photographers</h3>
      <div class="mt-4 container">
        <p class="">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. <br />Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley of
          type and scrambled it to make a type specimen book. It has survived
          not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in
          the 1960s with the release of Letraset sheets containing Lorem Ipsum
          passages. <br />and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
      <div class="container mt-4">
        <div
          class="row albums d-flex align-items-center justify-content-center"
        >
          <div class="col-sm-3">
            <div class="card">
              <img
                src="../../../assets/home/homecaro1.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5> -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-dark">View Album</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <img
                src="../../../assets/home/homecaro1.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5> -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-dark">View Album</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <img
                src="../../../assets/home/homecaro1.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5> -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-dark">View Album</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4 pb-5">
  <div class="row"><h3 class="w-100 text-center">Our Milestones</h3></div>
  <div
    class="row mt-4 counters d-flex align-items-center justify-content-center"
  >
    <div class="col-sm-3 d-flex align-items-center justify-content-center">
      <div class="card">
        <div
          class="card-body d-flex align-items-center justify-content-center flex-column"
        >
          <img
            src="assets/home/calendar.png"
            width="64px"
            alt=""
            style="margin-bottom: 0.5rem"
          />
          <h4
            style="color: var(--primary)"
            [countUp]="500"
            [duration]="3000"
            [text]="' +'"
          ></h4>
          <h6>Events</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-3 d-flex align-items-center justify-content-center">
      <div class="card">
        <div
          class="card-body d-flex align-items-center justify-content-center flex-column"
        >
          <img
            src="assets/home/courthouse.png"
            width="64px"
            alt=""
            style="margin-bottom: 0.5rem"
          />
          <h4
            style="color: var(--primary)"
            [countUp]="10"
            [duration]="3000"
            [text]="' +'"
          ></h4>
          <h6>Cities</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-3 d-flex align-items-center justify-content-center">
      <div class="card">
        <div
          class="card-body d-flex align-items-center justify-content-center flex-column"
        >
          <img
            src="assets/home/maps.png"
            width="64px"
            alt=""
            style="margin-bottom: 0.5rem"
          />
          <h4
            style="color: var(--primary)"
            [countUp]="4"
            [duration]="3000"
            [text]="''"
          ></h4>
          <h6>States</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row mt-3">
    <div class="col-4 text-center"></div>
    <div class="col-4 text-center">
      <h2
        style="color: var(--primary)"
        [countUp]="10"
        [duration]="1000"
        [text]="' +'"
      ></h2>
      <h6>Cities</h6>
    </div>
    <div class="col-4 text-center">
      <h2 style="color: var(--primary)" [countUp]="4" [duration]="1000"></h2>
      <h6>States</h6>
    </div>
  </div>
  <div class="row mt-4 pt-4 pb-5">
    <div class="col-12 text-center">
      <h3 class="w-100">Testimonials</h3>
      <div
        id="carouselExampleRide2"
        class="carousel slide mt-5"
        data-bs-ride="true"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row" style="align-items: center">
              <div class="offset-1 col-4">
                <img
                  src="assets/home/homecaro1.webp"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col-6 text-center">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row" style="align-items: center">
              <div class="offset-1 col-4">
                <img
                  src="assets/home/homecaro1.webp"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col-6 text-center">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row" style="align-items: center">
              <div class="offset-1 col-4">
                <img
                  src="assets/home/homecaro1.webp"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col-6 text-center">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleRide2"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleRide2"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div> -->
<div class="testimonials">
  <div class="container pb-5 mt-4">
    <div class="row">
      <div class="col-12 mt-4 text-center">
        <h3>What Our Client Says?</h3>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-3 offset-1">
        <img src="assets/home/homecaro1.webp" class="w-100 img" alt="..." />
      </div>
      <div
        class="col-7 text-center d-flex justify-content-center align-items-center flex-column"
      >
        <h4 class="mb-4">Sandhiya & Swami</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remainin
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-5 mt-4">
  <div class="row">
    <div class="col-12 mt-4 text-center">
      <h3>Our Social Media Feed</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-3 mt-4">
      <img src="assets/home/homecaro1.webp" class="w-100" alt="..." />
    </div>
    <div class="col-3 mt-4">
      <img src="assets/home/homecaro1.webp" class="w-100" alt="..." />
    </div>
    <div class="col-3 mt-4">
      <img src="assets/home/homecaro1.webp" class="w-100" alt="..." />
    </div>
    <div class="col-3 mt-4">
      <img src="assets/home/homecaro1.webp" class="w-100" alt="..." />
    </div>
    <div class="col-3 mt-4">
      <img src="assets/home/homecaro1.webp" class="w-100" alt="..." />
    </div>
    <div class="col-3 mt-4">
      <img src="assets/home/homecaro1.webp" class="w-100" alt="..." />
    </div>
    <div class="col-3 mt-4">
      <img src="assets/home/homecaro1.webp" class="w-100" alt="..." />
    </div>
    <div class="col-3 mt-4">
      <img src="assets/home/homecaro1.webp" class="w-100" alt="..." />
    </div>
  </div>
</div>
